{%- if collections.categoryList -%}
<section class="category-list {{ "sidebar-aside" if sidebar }}" aria-label="Blog categories list">
  <ul class="category-list-list" role="list">
    {%- for category in collections.categoryList | sort -%}
      <li class="category-list-item">
        <a class="category-list-link" href="/blog/category/{{ category | lower }}/">
          <span class="category-list-name">{{ category }}</span>
          <span class="category-list-count">{{ collections.categories[category] | length }}</span> <span class="hide-on-screen">posts</span>
        </a>
      </li>
    {%- endfor -%}
  </ul>
</section>
{%- endif -%}
