{%- if post_feature -%}
  <section class="container container-wide feature-image" aria-label="feature image">
    {%- if post_feature.flickr -%}
      {%- image post_feature.file, post_feature.alt, post_feature.flickr -%}
    {%- else -%}
      {%- image post_feature.file, post_feature.alt -%}
    {%- endif -%}
  </section>
{%- endif -%}
