{%- from "post/list.njk" import postList with context -%}

{{- postList(
    post_list = pagination.items,
    post_max = 1,
    post_list_class = "post-feature-post",
    post_list_label = "Feature post"
) -}}
