<header>
  <p>{{ post_date | shortDate }}</p>
  <h1>{{ post_title }}</h1>
</header>

{%- if post_category -%}
  <p>category:
    {% for category in post_category -%}
      {%- if category != "blog" -%}
        {{ category }}
      {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{%- if post_tags -%}
  <p>tags:
    {% for tag in post_tags -%}
      {%- if not loop.last -%}<a href="/tag/{{ tag | slug }}/">{{ tag }}</a>, {% else -%} <a href="/tag/{{ tag | slug }}/">{{ tag }}</a>{%- endif -%}
    {%- endfor -%}
  </p>
{%- endif -%}

{%- if post_teaser -%}
  <p>{{ post_teaser | safe }}</p>
{%- endif -%}
