{%- from "post/teaser.njk" import postTeaser with context -%}

{%- macro postList(
    post_list,
    post_max
) -%}

  {%- for post in post_list -%}

    {# If there is a limit on the number of posts listed, only show those. #}
    {%- if post_max -%}
      {%- if loop.index <= post_max -%}
        {{ postTeaser(post) }}
      {%- endif -%}
    
    {# If there is no limit... #}
    {%- else -%}

      {# Show everything. #}
      {{ postTeaser(post) }}
    {%- endif -%}
  {%- endfor -%}

{%- endmacro -%}
