{%- for post in post_list -%}
  {%- set post_feature = post.data.feature -%}
  {%- set post_date = post.data.date -%}
  {%- set post_url = post.url -%}
  {%- set post_title = post.data.title -%}
  {%- set post_teaser = post.data.teaser -%}
  {%- set post_category = post.data.category -%}

  {% include "post/teaser.njk" %}

{%- endfor -%}
