{%- from "post/teaser.njk" import postTeaser with context -%}

{%- macro postList(
    post_list,
    post_max,
    post_show_from = 1,
    post_list_class,
    post_list_label = "Latest Blog Posts",
    post_review = false
) -%}

  <section class="post-list {{ post_list_class }} {{ "sidebar-main" if sidebar }} grid" {% if post_list_label %} aria-label="{{ post_list_label }}" {%- endif -%}>

    {%- if post_review and reviews.length -%}
      {%- for review in reviews -%}
        {%- if loop.first -%}
          {{- review.title -}}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    {%- for post in post_list -%}

      {# If there is a limit on the number of posts listed, only show those. #}
      {%- if post_max -%}
        {%- if loop.index <= post_max -%}
          {{ postTeaser(post) }}
        {%- endif -%}
      
      {# If there is no limit... #}
      {%- else -%}

        {%- if loop.index >= post_show_from -%}
          {{ postTeaser(post) }}
        {%- endif -%}

      {%- endif -%}
    {%- endfor -%}
  
  </section>

{%- endmacro -%}
