{%- from "post/header.njk" import postHeader with context -%}

{%- macro postTeaser(
  post,
  post_title = post.data.title,
  post_teaser = post.data.teaser,
  post_url = post.url
) -%}

  <article class="post-teaser{{ " post-teaser-latest" if loop.first -}}">
    {{- postHeader(
        post_title
    ) -}}

    {%- if post_teaser -%}
      <p class="post-teaser-description">{{- post_teaser | safe -}}</p>
    {%- endif -%}
    
    <a class="post-teaser-link" href="{{- post_url -}}" aria-label="Continue reading: {{ post_title -}}">Continue reading</a>
  </article>

{%- endmacro -%}
