{%- set post_teaser_show = post_teaser_show | default(true) -%}

<article class="post-teaser{{ " post-teaser-latest" if loop.first }}">
  {% include "post/header.njk" %}

  {%- if post_teaser_show and post_teaser -%}
    <p class="post-teaser-description">{{ post_teaser | safe }}</p>
  {%- endif -%}

  <a class="post-teaser-link" href="{{ post_url }}" aria-label="Continue reading: {{ post_title }}">Continue reading</a>
</article>
