.category-list {
  width: min-content;
  font-family: var(--font-category-list, var(--font-heading));

  &-item {
    margin: 0;
  }
  
  &-link {
    display: flex;
    justify-content: space-between;
    padding-block: 0.5em;
    border-block-end: 2px solid currentColor;
    text-decoration: none;
  }
}
