@use 'include-media' as *;

.feature-image {
  --container-padding-inline: 0;

  background-image: linear-gradient(var(--color-primary) 75%, transparent 75%);

  &-inner {
    --container-padding-inline: 0;
  }

  img {
    aspect-ratio: var(--feature-image-aspect, 3/2);
    object-fit: cover;
    width: 100%;
    max-height: 75vh;

    @include media('>tablet') {
      --feature-image-aspect: 16/9;
    }

    @include media('>desktop') {
      --feature-image-aspect: 21/9;
    }
  }
}
