@use 'include-media' as *;

.feature-image {
  --container-padding-inline: 0;

  background-image: linear-gradient(var(--color-primary) 75%, transparent 75%);

  &-inner {
    --container-padding-inline: 0;
  }

  figure {
    display: grid;
    grid-template-areas: image;
    place-items: end;
  }

  picture {
    grid-area: image;
  }

  img {
    aspect-ratio: var(--feature-image-aspect, 3/2);
    object-fit: cover;
    width: 100%;
    max-height: 75vh;

    @include media('>tablet') {
      --feature-image-aspect: 16/9;
    }

    @include media('>desktop') {
      --feature-image-aspect: 21/9;
    }
  }

  figcaption {
    grid-area: image;
    padding-inline: 1em;
    font-family: var(--figcaption-font, var(--font-heading));
    font-size: 1rem;
  }

  a {
    --link-text-color: var(--color-background);
    --link-text-hover-color: var(--color-tertiary);
  }
}
