.card-links {
  &-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    text-align: center;
  }

  &-card {
    flex-grow: 1;
    flex-basis: calc( ( 45ch - 100% ) * 999 );
  }

  svg {
    --fillColor: transparent;
    margin-right: auto;
    margin-left: auto;
  }
}
