{%- extends "layouts/default.njk" -%}

{%- set sidebar = true -%}
{%- set post_list = pagination.items -%}

{%- block title_content -%}
  <h1 class="post-list-title">{{- title -}}</h1>
{%- endblock title_content -%}

{%- block main_content -%}
  {{ content | safe }}

  <div class="post-list-intro sidebar">
    {% include "post/feature-post.njk" %}
    {% include "post/category-list.njk" %}
  </div>

  {% include "post/list.njk" %}

  {% include "post/pagination.njk" %}
{%- endblock main_content -%}
