{%- extends "layouts/default.njk" -%}

{% if tag %}
  {% set title = "Tag Archive: " + tag %}
{% endif %}

{%- block main_content -%}
  {{ content | safe }}

  {%- include "post/list.njk" -%}
{%- endblock main_content -%}
