<!DOCTYPE html>
<html lang="en">
<head>
  {% include "global/head.njk" %}
</head>

<body class="{{ "home" if home else "default" }}">

  <header class="container container-full header">
    {% include "global/header.njk" %}
  </header>

  {%- block page_hero -%}
  {%- endblock page_hero -%}

  <main class="container container-{{- main_page_class if main_page_class else "default" }} main">
    {%- block title_content -%}
    {%- endblock title_content -%}

    {%- block main_content -%}

      <section class="container">
        {{ content | safe }}
      </section>

    {%- endblock main_content -%}

  </main>

  <footer class="container container-full footer">
    {% include "global/footer.njk" %}
  </footer>

</body>
</html>
