{%- set hero_image = hero_image if hero_image else "/dist/images/photos/highway.jpg" -%}

<!DOCTYPE html>
<html lang="en">
<head>
  {% include "global/head.njk" %}
</head>

<body>

  <header class="container container-full header-wrap">
    <div class="container header">
      {% include "global/header.njk" %}
    </div>
  </header>

  <section class="container container-wide hero {{ "hero-home" if home -}}" {% if not home %}style="background-image: url( {{- hero_image -}} )"{%- endif -%}>
    {%- block page_hero -%}
      {%- include "global/hero.njk" -%}
    {%- endblock page_hero -%}
  </section>

  <main class="container container-{{- main_page_class if main_page_class else "default" }} {{ "sidebar" if not home -}}">

    {%- block main_content -%}

      <section class="container {{ "sidebar-main" if not home -}}">

        {%- block page_content -%}
          {{ content | safe }}
        {%- endblock page_content -%}
      </section>

      {%- block page_sidebar -%}
        {% include "global/sidebar.njk" %}
      {%- endblock page_sidebar -%}

    {%- endblock main_content -%}

  </main>

  <footer class="container container-full">
    {% include "global/footer.njk" %}
  </footer>

</body>
</html>
