<!DOCTYPE html>
<html lang="en">
<head>
  {% include "global/head.njk" %}
</head>

<body>

  <header class="container">
    {% include "global/header.njk" %}
  </header>

  <section class="container hero">
    {%- block page_hero -%}

      {%- block page_title -%}
        <h1>{{- title -}}</h1>
      {%- endblock page_title -%}

    {%- endblock page_hero -%}
  </section>

  <main class="container container-{{- main_page_class if main_page_class else "default" }} {{ "sidebar" if not home -}}">

    {%- block main_content -%}

      <section class="container {{ "sidebar-main" if not home -}}">

        {%- block page_content -%}
          {{ content | safe }}
        {%- endblock page_content -%}
      </section>

      {%- block page_sidebar -%}
        {% include "global/sidebar.njk" %}
      {%- endblock page_sidebar -%}

    {%- endblock main_content -%}

  </main>

  <footer class="container container-full">
    {% include "global/footer.njk" %}
  </footer>

</body>
</html>
