{%- extends "layouts/default.njk" -%}

{%- set home = true -%}
{%- set main_page_class = "full" -%}

{%- block page_hero -%}
  <div class="hero-description container container-narrow">
    <h1>Donec orci neque, tristique ut quam ac</h1>
    <p>Lorem ipsum dolor sit amet, consectetur lit, enimad eiusmod tempor incididunt ut labore et dolore magna aliqua ullamco laboris nisi.</p>
    <a href="{{- '/about/' | url -}}">Learn more about the journey</a>
  </div>
  <div class="hero-image container container-narrow">
    <img src="/dist/images/illustrations/city-landscape.svg" width="600">
  </div>
{%- endblock page_hero -%}

{%- block main_content -%}

  {%- include "partials/maps.njk" -%}

{%- endblock main_content -%}
