{%- extends "layouts/default.njk" -%}

{%- set body_classes = body_classes + " body-home" -%}
{%- set main_container_classes = "-full wrapper" -%}

{%- set post_list = collections.blogPosts -%}

{%- block main_content -%}
  <section class="home-hero container" aria-labelledby="home-hero-title">
    <header class="home-hero-header">
      <p class="home-hero-eyebrow">{{ hero.eyebrow }}</p>
      <h1 id="home-hero-title">{{ hero.title }}</h1>
    </header>

    <div class="home-hero-content">
      {{ content | safe }}
    </div>

    <div class="home-hero-image">
      {% image hero.source, hero.alt %}
    </div>
  </section>

  <section class="container">
    <div class="greeting">
      <header>
        <a class="eyebrow" href="{{ '/stats/' | url }}">Latest Stats</a>
        <h2>Greetings from {{ greetings.location }}!</h2>
      </header>
      <p><strong>{{ stats.days.item }}</strong> days</p>
      <p><strong>{{ stats.miles.item }}</strong> miles</p>
      <p class="post-date"><span class="sr-only">Posted on</span> {{ greetings.date | shortDate }}</p>
    </div>
  </section>

  <section class="card-links container-full wrapper">
    <div class="container card-links-container">
      <div class="card-links-card">
        <a href="{{ '/blog/' | url }}">Read the Blog</a>
      </div>
      <div class="card-links-card">
        <a href="{{ '/maps/' | url }}">View the Maps</a>
      </div>
      <div class="card-links-card">
        <a href="{{ '/photos/' | url }}">Browse the Photos</a>
      </div>
    </div>
  </section>

  <section class="post-list home-post-list container">
    <h2>Latest Posts</h2>
    {%- include "post/list.njk" -%}
  </section>
{%- endblock main_content -%}
