{%- extends "layouts/default.njk" -%}

{%- set post_list = pagination.items -%}

{%- block main_content -%}
  {{ content | safe }}

  {%- include "partials/social.njk" -%}


  {%- include "post/list.njk" -%}

  {%- include "partials/social.njk" -%}
{%- endblock main_content -%}
