{%- extends "layouts/default.njk" -%}

{%- set post_feature = feature -%}
{%- set post_date = date -%}
{%- set post_url = url -%}
{%- set post_title = title -%}
{%- set post_teaser = teaser -%}
{%- set post_category = category -%}
{%- set post_tags = tags -%}

{%- set post_tags_show = true -%}

{%- block page_hero -%}
  {%- include "post/feature-image.njk" -%}
{%- endblock page_hero -%}

{%- block title_content -%}
  {%- include "post/header.njk" -%}
{%- endblock title_content -%}
