{%- extends "layouts/default.njk" -%}

{%- from "post/list.njk" import postList with context -%}

{%- set post_show_latest = true -%}

{%- if tag -%}
  {%- set title = "Tag Archive: " + tag -%}
{%- endif -%}

{%- if categoryName -%}
  {%- set title = "Category Archive: " + categoryName -%}
{%- endif -%}

{%- block title_content -%}
  <section class="container taxonomy-header">
    <h1 class="post-list-title">{{- title -}}</h1>
  </section>
{%- endblock title_content -%}

{%- block main_content -%}
  {{ content | safe }}

  {%- if tag -%}
    {{- postList(
        post_list = collections[tag]
    ) -}}
  {%- endif -%}

  {%- if categoryName -%}
    {{- postList(
        post_list = collections.categories[categoryName] | sort
    ) -}}
  {%- endif -%}

{%- endblock main_content -%}
