{%- extends "layouts/default.njk" -%}

{%- if tag -%}
  {%- set post_list = collections[tag] -%}
  {%- set title = "Tag Archive: " + tag -%}
{%- endif -%}

{%- if categoryName -%}
  {%- set post_list = collections.categories[categoryName] -%}
{%- endif -%}

{%- block main_content -%}
  {{ content | safe }}

  {% include "post/list.njk" %}

{%- endblock main_content -%}
