<!doctype html>

<html>
<head>
  {%- include "head.njk" -%}
</head>
<body>

  {%- include "header.njk" -%}

  <main class="main">
    {%- if not home -%}
      <h1>{{- title -}}</h1>
    {%- endif -%}

    {%- block main_content -%}
      {{ content | safe }}
    {%- endblock main_content -%}
  </main>

</body>
</html>
