@use 'color/tokens' as *;
@use 'color/contrast' as *;

.btn {
  $color1: var(--color-primary);
  $color2: var(--color-#{a11y-color('primary-5')});

  --link-bg-color: var(--btn-bg-color, #{$color1});
  --link-text-color: var(--btn-text-color, #{$color2});

  --link-bg-hover-color: var(--btn-text-color);
  --link-text-hover-color: var(--btn-bg-color);

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-family: var(--btn-font-family, var(--font-heading));
  line-height: var(--btn-line-height, 1);
  text-align: center;
  text-decoration: none;

  &:focus,
  &:hover {
    outline: 0;
    box-shadow:
      0 0 0 2px var(--btn-bg-color),
      0 0 0 4px var(--btn-text-color);
  }

  svg {
    width: auto;
    max-height: 1.25em;
    margin-inline-end: 0.25em;
  }

  @each $token, $color in $tokens {
    &-#{$token} {
      --btn-bg-color: var(--color-#{$token});
      --btn-text-color: var(--color-#{a11y-color('#{$token}-5')});
    }

    @for $i from 1 through 9 {
      &-#{$token}-#{$i} {
        --btn-bg-color: var(--color-#{$token}-#{$i});
        --btn-text-color: var(--color-#{a11y-color('#{$token}-#{$i}')});
      }
    }
  }
}
