.cards {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cards-gap, 5rem);
}

.card {
  flex-grow: 1;
  flex-basis: calc(( var(--cards-width, 52rem) - 100%) * 999);

  > * {
    max-inline-size: 100%;
  }
}

.card:nth-last-child(n+ 3),
.card:nth-last-child(n+ 3) ~ * {
  flex-basis: 100%;
}
