@font-face {
  font-family: 'Lora';
  src:
    local('Lora'),
    url('/dist/webfonts/Lora.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src:
    local('Lora'),
    url('/dist/webfonts/Lora-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}



@font-face {
  font-family: 'Public Sans';
  src:
    local( 'Public Sans' ),
    local( 'Public-Sans' ),
    url('/dist/webfonts/PublicSans.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src:
    local( 'Public Sans' ),
    local( 'Public-Sans' ),
    url('/dist/webfonts/PublicSans-Italic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}
