{%- include "partials/coffee.njk" -%}
{%- include "partials/contact.njk" -%}
{%- include "partials/colophon.njk" -%}
{%- include "partials/profile.njk" -%}
{%- include "partials/copyright.njk" -%}
{%- include "partials/social.njk" -%}
