<div class="container container-full footer-support bg-highlight">
  <div class="container container-narrow">
    <h2>Support Small Business</h2>
    <p>Each coffee you buy will help support the wide variety of local small businesses I'll encounter along the way, and put money back into the communities I'll be traveling through.</p>
    <a class="btn btn-secondary" href="https://www.buymeacoffee.com/LincolnHighway">{%- include "icons/coffee.svg" %} Buy Me a Coffee</a>
  </div>
</div>

<div class="container footer-colophon">
  <div class="footer-contact">
    <h2>Get in Touch</h2>
    <p>You can find me on social media! or you can send me an email. I'd love to chat with folks about road trips or the Lincoln Highway.</p>
    <a class="btn btn-accent" href="mailto:{{ site.email | safe -}}">Send a message</a>
  </div>

  <div class="footer-code">
    <h2>The Tech Stuff</h2>
    <p>This site is built using tools such as 11ty and Sass. Hosting and domain available through DreamHost. "Get Inspired" illustration from <a href="https://www.streamlinehq.com/">Streamline</a>. Icons from <a href="https://phosphoricons.com/">Phosphor Icons</a>.</p>
    <a class="btn btn-accent" href="https://github.com/reedcodes/lincolnhighway">View on GitHub</a>
  </div>

  <div class="footer-copyright">
    <p>Lincoln Highway Journal. &copy; {% year -%}, <a href="https://reedcodes.com/">Reed Piernock</a>.</p>
  </div>

  <div class="footer-social">
    {%- include "partials/social.njk" -%}
  </div>
</div>
