<div class="container container-full footer-info bg-highlight">
  <div class="container footer-contact">
    <h2>Get in Touch</h2>
    <p>You can find me on social media! or you can send me an email. I'd love to chat with folks about road trips or the Lincoln Highway.</p>
    <a href="mailto:{{ site.email | safe -}}">Send a message</a>

    <h2>The Tech Stuff</h2>
    <p>This site is built using tools such as 11ty and Sass. Hosting and domain available through DreamHost. City illustration from <a href="https://lukaszadam.com/illustrations">Lukasz Adam</a>. Icons from <a href="https://phosphoricons.com/">Phosphor Icons</a>. USA map vector from <a href="https://www.freepik.com/vectors/usa-map">freepik</a></p>
    <a href="https://github.com/reedcodes/lincolnhighway">View on GitHub</a>
  </div>
</div>

<div class="container footer-colophon sidebar">
  <div class="footer-copyright sidebar-main">
    <p>Lincoln Highway Journal. &copy; {% year -%}, <a href="https://reedcodes.com/">Reed Piernock</a>.</p>
  </div>

  <div class="footer-social sidebar-aside">
    {%- include "partials/social.njk" -%}
  </div>
</div>
