{%- from "post/feature-image.njk" import featureImageFile -%}

{%-
  metagen
    name = site.name,
    desc = site.description,
    site_name = site.website,
    title = site.website + ": " + title,
    url = site.url + page.url,
    generator = "eleventy",
    comments = false,
    css = ["/dist/css/style.css"],
    img = featureImageFile(feature.file, site.url, page.url),
    img_alt = feature.alt,
    twitter_card_type = "summary_large_image",
    twitter_handle = "LincHwyJournal"
-%}

<link rel="icon" href="/dist/images/favicon.gif">
