{%- from "post/feature-image.njk" import featureImageFile with context -%}

<link rel="alternate" type="application/rss+xml" title="RSS feed for Lincoln Highway Journal blog posts" href="feed.xml" />

{%-
  metagen
    name = site.name,
    desc = site.description,
    site_name = site.website,
    title = site.website + ": " + title,
    url = site.url + page.url,
    generator = "eleventy",
    comments = false,
    css = ["/dist/css/style.css"],
    img = featureImageFile(feature.file),
    img_alt = feature.alt,
    twitter_card_type = "summary_large_image",
    twitter_handle = "LincHwyJournal"
-%}

{% favicons "./source/_images/favicon.png" %}
