
{% set menu = collections.all | eleventyNavigation() %}

{%- if not menu | length == 0 -%}
  <nav class="site-menu" aria-label="global site">
    <ul class="site-menu-list" role="list">
      {%- for item in menu %}
        <li>
          <a href="{{- item.url | url -}}">
            {{- item.title -}}
          </a>
        </li>
      {%- endfor %}
    </ul>
  </nav>
{%- endif -%}
