<section>

  <img src="/dist/images/reedcodes.jpg" width="120" alt="a cartoon illustration of Reed, with gray hair and glasses">

  <p>I'm Reed, and this fall I'll be heading on an adventure to drive the entirety of the Lincoln Highway! This website and blog documents this journey.</p>

  <a href="{{- '/about/' | url -}}">Read more about me and the Lincoln Highway</a>

</section>
