<div class="blog-latest">
  <h2 class="blog-latest-title">
    {{ blog.data.title }}
  </h2>
  <p class="blog-latest-date">
    {{ blog.date | readDate }}
  </p>
  <a class="blog-latest-link" href="{{ blog.url | url }}">
    Read the latest post
  </a>
</div>
