<section class="contact" aria-label="contact information">
  <h2>Get in Touch</h2>

  <p>Feel free to contact me! I'd love to hear from other adventurers, especially if you're interested in the Lincoln Highway. You can also find me on various social media.</p>

  <a class="button button-on-secondary" href="{{ '/contact/' | url }}">Send a postcard</a>
</section>
