<section aria-label="featured dashboard items">
  <h2>As of {{ page.date | readDate }}, there have been...</h2>

  <ul class="dashboard-feature">
    <li class="dashboard-card">
      <a href="{{ "/lodging/" | url }}">
        <span class="dashboard-stat">{{ collections.lodging | length }}</span>
        <span class="dashboard-item">hotels & motels</span>
       </a>
     </li>
    <li class="dashboard-card">
      <a href="{{ "/dining/" | url }}">
        <span class="dashboard-stat">{{ collections.dining | length }}</span>
        <span class="dashboard-item">diners & restaurants</span>
       </a>
     </li>
    <li class="dashboard-card">
      <a href="{{ "/attractions/" | url }}">
        <span class="dashboard-stat">{{ collections.attractions | length }}</span>
        <span class="dashboard-item">roadside attractions</span>
      </a>
    </li>
  </ul>

</section>
