<section class="hero">
  {%- if hero.heading -%}
    <h1 class="hero-heading">{{ hero.heading }}</h1>
  {%- endif -%}

  {%- if hero.teaser -%}
    <p class="hero-teaser">
      {{ hero.teaser }}
    </p>
  {%- endif -%}

  {%- if hero.cta.link -%}
    <a class="hero-cta" href="{{ hero.cta.link }}">{{ hero.cta.text }}</a>
  {%- endif -%}
</section>
