<ul class="menu-list" role="list">
  {% for page in collections.guide %}
    <li class="menu-list-item">
      <a class="menu-list-link" href="{{ page.url | url }}">
        {{ page.data.title }}
      </a>
    </li>
  {% endfor %}
</ul>
