<ul class="menu-list" role="list">
  <li class="menu-list-item"><a class="menu-list-link" href="{{ "/guide/" | url }}">Style Guide</a></li>

  {% for page in collections.guide %}
    <li class="menu-list-item">
      <a class="menu-list-link" href="{{ page.url | url }}">
        {{ page.data.title }}
      </a>
    </li>
  {% endfor %}
</ul>
