<nav class="nav" aria-label="global site">
  <ul>
    {% for page in collections.all | eleventyNavigation("Home") %}
      <li>
        <a href="{{ page.url | url }}">
          {{ page.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
