{# If pagination is on the blog list pages... #}
{# Here, the previous page of posts is the page number before it. #}
{# i.e. if we are currently on page 3, then the _previous_ page is 2 #}
{# while the _next_ page is 4. #}

{%- if pagination.href.previous -%}
  {%- set prev_page_url = pagination.href.previous -%}
  {%- set prev_page_title = "Previous Page" -%}
{%- endif -%}

{%- if pagination.href.next -%}
  {%- set next_page_url = pagination.href.next -%}
  {%- set next_page_title = "Next Page" -%}
{%- endif -%}



{# If pagination is on an individual blog post... #}
{# Here, the individual posts move chronologically from "past" to "future". #}
{# i.e. if we are on a blog post, then the _previous_ post is dated before, #}
{# while the _next_ post is dated after. #}

{%- if collections.blogPostsFirst | getPreviousCollectionItem(page) -%}
  {%- set prev_page = collections.blogPostsFirst | getPreviousCollectionItem(page) -%}
  {%- set prev_page_url = prev_page.url | url -%}
  {%- set prev_page_title = prev_page.data.title -%}
{%- endif -%}

{%- if collections.blogPostsFirst | getNextCollectionItem(page) -%}
  {%- set next_page = collections.blogPostsFirst | getNextCollectionItem(page) -%}
  {%- set next_page_url = next_page.url | url -%}
  {%- set next_page_title = next_page.data.title -%}
{%- endif -%}



{# Output the pagination. #}

{%- if prev_page_url or next_page_url -%}
  <nav class="container pagination" aria-label="blog pagination links">
    <div class="pagination-inner flex-items">
      {%- if prev_page_url -%}
        <a class="pagination-previous btn btn-primary" href="{{- prev_page_url -}}" data-direction="backwards">{%- include "icons/arrow-left.svg" %} Previous</a>
      {%- endif -%}
      {%- if next_page_url -%}
        <a class="pagination-next btn btn-primary" href="{{- next_page_url -}}" data-direction="forwards">Next {% include "icons/arrow-right.svg" -%}</a>
      {%- endif -%}
    </div>
  </nav>
{%- endif -%}
