{%- if progress -%}

  <section class="progress band band-accent">
    <div class="container">
      <h2 class="progress-title">
        Trip Progress
      </h2>
      <p class="progress-bar">
        {{ ( progress / 3400 ) * 100 | round( 0, "floor" ) }}%
      </p>
    </div>
  </section>

{%- endif -%}
