{%- if progress -%}

  <section class="progress band band-accent">
    <div class="container">
      <h2 class="progress-title">
        Trip Progress
      </h2>
      <p class="progress-bar">
        {{ progress }}%
      </p>
    </div>
  </section>

{%- endif -%}
