<nav class="social" id="social" aria-label="social media">
  <ul class="social-list" role="list">
    {%- for info in social -%}
      <li><a href="{{ info.url }}">{{ info.site }}</a></li>
    {%- endfor -%}
  </ul>
</nav>
