<div class="card stats">
  <h2>The Road So Far</h2>
  <p><strong>{{ stats.days.item }}</strong> days</p>
  <p><strong>{{ stats.miles.item }}</strong> miles</p>
  <a href="{{ '/stats/' | url }}">Check all stats</a>
</div>
