@use 'type';

body {
  --body-background: var(--color-white);
  --body-text: var(--color-gray);

  background: var(--body-background);
  color: var(--body-text);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: type.$body;
}

img {
  max-width: 100%;
  height: auto;
}
