.flickr {
  &-grid {
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat( auto-fit, minmax( min(400px, 100%), 1fr ) );
  }

  &-item {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'iframe'
      'caption';
    margin: 0;

    iframe { grid-area: iframe; }
    figcaption { grid-area: caption; }
  }
}
