.page-aside {
  --aside-image-border: var(--color-highlight);
  font-size: 1rem;
  line-height: 1.5;

  img {
    width: 65%;
    margin-inline: auto;
    border: 5px solid var(--aside-image-border);
    border-radius: 50%;
  }
}
