.footer {
  --container-padding-block: min( 1rem, 2vh );

  &-info {
    --link-text-color: var(--color-primary);
    --link-text-hover-color: var(--color-secondary);
  }

  &-colophon {
    --sidebar-align: center;
  }
}
