.footer {
  --container-padding-block: min( 1rem, 2vh );

  &-support {
    --link-text-color: var(--color-on-highlight);
    --link-text-hover-color: var(--color-secondary);

    color: var(--color-primary);
    text-align: center;
  }

  .social-list {
    --flex-items-justify: start;
  }
}
