.header {
  --container-padding-block: min( 1rem, 2vh );
  --header-bg-color: var(--color-highlight);

  background-color: var(--header-bg-color);

  &-inner {
    --sidebar-align: center;
  }

  .site-logo {
    display: block;
    width: max-content;
  }

  .site-menu-list {
    --flex-items-justify: end;
  }

  .site-menu-link {
    --link-text-color: var(--color-on-highlight);
    --link-text-hover-color: var(--color-secondary);
  }

}
