.header {
  --container-padding-block: min(1rem, 2vh);

  background-color: var(--header-bg-color, var(--color-primary));

  &-inner {
    --flex-items-justify: space-between;
  }
}

.site-logo {
  display: block;
  width: auto;
  max-width: min(100%, 100vw);
  height: 100px;
}

.site-menu {
  &-list {
    --flex-items-justify: end;
  }

  &-link {
    --link-text-color: var(--color-tertiary);
    --link-text-hover-color: var(--color-secondary-1);
    --link-underline-color: transparent;

    &:focus,
    &:hover {
      --link-line-size: max( 4px, 0.2em );
      --link-underline-color: currentColor;
    }
  }
}
