.hero {
  --container-padding-block: min( 1rem, 2vh );
  --hero-display: grid;
  --hero-bg-color: var(--color-contrast);
  --hero-text-color: var(--color-primary);

  display: var(--hero-display);
  place-content: center;
  background-color: var(--hero-bg-color);
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  color: var(--hero-text-color);
  text-align: center;
}
