.hero {
  --hero-bg-color: var(--color-contrast);
  --hero-text-color: var(--color-primary);

  display: grid;
  place-content: center;
  padding-block: min( 2vh, 3rem );
  background-color: var(--hero-bg-color);
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  color: var(--hero-text-color);

  &-home {
    --hero-bg-color: transparent;
    --hero-text-color: inherit;
  }
}
