.profile {
  --profile-border-color: var(--color-secondary);
  --profile-bg-color: var(--color-highlight);

  img {
    width: min( 50%, 275px );
    margin: 5vh 0;
    border: max(4px, 0.15em) solid var(--profile-border-color);
    border-radius: 50%;
    background-color: var(--profile-bg-color);
  }
}
