/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in source/_data/colors.js
 */

$color-main: hsla(48, 25%, 95%, 1) !default;
$color-on-main: hsl(46.69999999999999, 4.1%, 42.9%) !default;
$color-highlight: hsla(61, 46%, 64%, 1) !default;
$color-on-highlight: hsl(61.19999999999999, 41.5%, 24.1%) !default;
$color-accent: hsla(42, 100%, 48%, 1) !default;
$color-on-accent: hsl(35.89999999999998, 100%, 21%) !default;
$color-secondary: hsla(185, 75%, 24%, 1) !default;
$color-on-secondary: hsl(185.60000000000002, 37.4%, 77.5%) !default;
$color-primary: hsla(0, 100%, 27%, 1) !default;
$color-on-primary: rgb(226, 155, 155) !default;
$color-contrast: hsla(42, 100%, 2%, 1) !default;
$color-on-contrast: hsl(43.30000000000001, 7.8%, 45.1%) !default;

$base-color-tokens: ("main", "highlight", "accent", "secondary", "primary", "contrast");

$color-tokens: (
  "color-main": $color-main,
  "color-on-main": $color-on-main,
  "color-highlight": $color-highlight,
  "color-on-highlight": $color-on-highlight,
  "color-accent": $color-accent,
  "color-on-accent": $color-on-accent,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary,
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-contrast": $color-contrast,
  "color-on-contrast": $color-on-contrast
) !default;

@mixin color-tokens() {
  --color-main: #{$color-main};
  --color-on-main: #{$color-on-main};
  --color-highlight: #{$color-highlight};
  --color-on-highlight: #{$color-on-highlight};
  --color-accent: #{$color-accent};
  --color-on-accent: #{$color-on-accent};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-contrast: #{$color-contrast};
  --color-on-contrast: #{$color-on-contrast};
}