@use 'sass:color';
@use 'sass:map';

$color-primary: #1446A0 !default;
$color-secondary: #DB3069 !default;
$color-tertiary: #F5D547 !default;
$color-background: #FCFBF3 !default;
$color-foreground: #3C3C3B !default;

$tokens: (
  'primary': $color-primary,
  'secondary': $color-secondary,
  'tertiary': $color-tertiary,
  'background': $color-background,
  'foreground': $color-foreground,
) !default;

$color-map: ();

@function create-color-map($name, $color) {
  $map: ();

  @for $i from 4 through 1 {
    $scale: $i * 10%;
    $color-light: color.adjust($color, $lightness: $scale);

    $map-next: ('#{$name}-#{5-$i}': $color-light);
    $map: map.merge($map, $map-next);
  }

  $map: map.merge($map, ('#{$name}-5': $color));

  @for $i from 1 through 4 {
    $scale: $i * -10%;
    $color-light: color.adjust($color, $lightness: $scale);

    $map-next: ('#{$name}-#{5+$i}': $color-light);
    $map: map.merge($map, $map-next);
  }

  @return $map;
}

@each $name, $color in $tokens {
  $map: ();
  $map: map.merge($map, ($name: create-color-map($name, $color)));
  $color-map: map.merge($color-map, $map);
}