/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in source/_data/colors.js
 */

$color-primary: hsla( 45, 100%, 96%, 1 ) !default;
$color-on-primary: hsl(44.5, 14.4%, 42.2%) !default;
$color-secondary: hsla( 47, 99%, 50%, 1 ) !default;
$color-on-secondary: hsl(43.30000000000001, 100%, 22.5%) !default;
$color-accent: hsla( 18, 61%, 33%, 1 ) !default;
$color-on-accent: hsl(18.399999999999977, 46.7%, 79.4%) !default;
$color-highlight: hsla( 188, 63%, 45%, 1 ) !default;
$color-on-highlight: hsl(130.8, 50.6%, 15.1%) !default;
$color-contrast: hsla( 195, 100%, 8%, 1 ) !default;
$color-on-contrast: hsl(194.5, 25.4%, 47.8%) !default;

$base-color-tokens: ("primary", "secondary", "accent", "highlight", "contrast");

$color-tokens: (
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary,
  "color-accent": $color-accent,
  "color-on-accent": $color-on-accent,
  "color-highlight": $color-highlight,
  "color-on-highlight": $color-on-highlight,
  "color-contrast": $color-contrast,
  "color-on-contrast": $color-on-contrast
) !default;

@mixin color-tokens() {
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
  --color-accent: #{$color-accent};
  --color-on-accent: #{$color-on-accent};
  --color-highlight: #{$color-highlight};
  --color-on-highlight: #{$color-on-highlight};
  --color-contrast: #{$color-contrast};
  --color-on-contrast: #{$color-on-contrast};
}