@use 'sass:color';
@use 'sass:map';
@use 'sass:math';

@use 'color-map' as *;

:root {
  @each $token, $value in $tokens {
    --color-#{$token}: #{$value};

    @for $i from 1 through 9 {
      $color: map.get($color-map, $token, '#{$token}-#{$i}');

      --color-#{$token}-#{$i}: #{$color};
    }
  }

  --body-bg-color: var(--color-background);
  --body-text-color: var(--color-foreground);

  --link-text-color: var(--color-primary);
  --link-text-hover-color: var(--color-secondary-9);
  --link-bg-color: transparent;
  --link-bg-hover-color: transparent;
}
