@use 'color-tokens' as *;

:root {
  @include color-tokens();

  --body-bg-color: var(--color-primary);
  --body-text-color: var(--color-contrast);

  --link-text-color: var(--color-accent);
  --link-text-hover-color: var(--color-on-highlight);
  --link-bg-color: transparent;
  --link-bg-hover-color: transparent;
}
