@use 'color-tokens' as *;

// Functional color classes.
@each $token in $base-color-tokens {
  .bg-#{$token} {
    background-color: var(--color-#{$token});
    color: var(--color-on-#{$token});
  }

  .bg-on-#{$token} {
    background-color: var(--color-on-#{$token});
    color: var(--color-#{$token});
  }

  .color-#{$token} {
    color: var(--color-#{$token});
  }

  .color-on-#{$token} {
    color: var(--color-#{$token});
  }
}
