/* 🛑 STOP!
  Do not change this file directly.
  Modify colors in source/_data/colors.js
 */

$color-light: #efe0c0 !default;
$color-on-light: #716346 !default;
$color-highlight: #fdb017 !default;
$color-on-highlight: #714400 !default;
$color-primary: #b94311 !default;
$color-on-primary: #FDE6DC !default;
$color-secondary: #24676f !default;
$color-on-secondary: #C3DCDF !default;
$color-accent: #803377 !default;
$color-on-accent: #DEB8D9 !default;
$color-dark: #262623 !default;
$color-on-dark: #8D8D89 !default;

$base-color-tokens: ("light", "highlight", "primary", "secondary", "accent", "dark");

$color-tokens: (
  "color-light": $color-light,
  "color-on-light": $color-on-light,
  "color-highlight": $color-highlight,
  "color-on-highlight": $color-on-highlight,
  "color-primary": $color-primary,
  "color-on-primary": $color-on-primary,
  "color-secondary": $color-secondary,
  "color-on-secondary": $color-on-secondary,
  "color-accent": $color-accent,
  "color-on-accent": $color-on-accent,
  "color-dark": $color-dark,
  "color-on-dark": $color-on-dark
) !default;

@mixin color-tokens() {
  --color-light: #{$color-light};
  --color-on-light: #{$color-on-light};
  --color-highlight: #{$color-highlight};
  --color-on-highlight: #{$color-on-highlight};
  --color-primary: #{$color-primary};
  --color-on-primary: #{$color-on-primary};
  --color-secondary: #{$color-secondary};
  --color-on-secondary: #{$color-on-secondary};
  --color-accent: #{$color-accent};
  --color-on-accent: #{$color-on-accent};
  --color-dark: #{$color-dark};
  --color-on-dark: #{$color-on-dark};
}