body{--body-font: Neuton, serif;font-weight:500;font-size:1.5rem;line-height:1.5;font-family:var(--body-font)}:is(h1,h2,h3,h4,h5,h6){--heading-font: Raleway, sans-serif;margin-top:1em;margin-bottom:.5em;font-weight:400;font-family:var(--heading-font);line-height:1.2}h5{font-size:1.875rem;font-size:clamp(
      1.25625rem,
      4.61875vw + 1rem,
      1.875rem
    )}h4{font-size:2.34375rem;font-size:clamp(
      1.5703125rem,
      4.7734375vw + 1rem,
      2.34375rem
    )}h3{font-size:2.9296875rem;font-size:clamp(
      1.962890625rem,
      4.966796875vw + 1rem,
      2.9296875rem
    )}h2{font-size:3.662109375rem;font-size:clamp(
      2.4536132813rem,
      5.2084960938vw + 1rem,
      3.662109375rem
    )}h1{font-size:4.5776367188rem;font-size:clamp(
      3.0670166016rem,
      5.5106201172vw + 1rem,
      4.5776367188rem
    )}