.hero {
  --container-padding-block: min( 1rem, 2vh );

  $hero-bg-size: 96px;

  display: block;
  background-image: linear-gradient(
    to top,
    var(--color-background) $hero-bg-size,
    var(--color-primary) $hero-bg-size
  );
  text-align: center;

  &-image {
    aspect-ratio: inherit;
    width: min( 100%, 600px );
    margin-inline: auto;

    img {
      --image-aspect-ratio: inherit;

      background-color: var(--color-background-3);
      box-shadow: 0 0 4px 0 var(--color-primary-8);
      border-radius: 15px;
    }
  }
}

.info {
  &-lincoln-highway {
    text-align: center;
  }
}

.stats {
  --cards-gap: 10vw;

  text-align: left;

  .icon {
    --fillColor: var(--stats-icon-fill, var(--color-background));

    width: 120px;
    height: auto;
    margin-block-end: 1rem;
    border-radius: 1rem;
    background-color: var(--stats-icon-bg, var(--color-secondary));
  }
}
